.form{ 
    width: 150%;
    padding: 10px 16px;
    margin:0 auto;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url("https://img.freepik.com/free-vector/abstract-purple-wavy-patterned-background_53876-177390.jpg?t=st=1743185532~exp=1743189132~hmac=ca27a52512f3047daf4cd1e5f8e1a6156886774a3a077c257fc2b3b87607aed4&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
 }
 
.combine{
    display: flex;
    gap: 180px;
    margin-left: 300px;
    margin-top: 7%;
    border-radius: 15px;
    width: 55%;
    background-color: white;
}
.form input{
    width:87%;
    padding:10px 16px;
    border-radius: 5px;
    border: solid 1px;

}

.container button{
    border-radius: 14px;
    background-color: purple;
    color: white;
    width: 94%;
    margin: 0 auto;
    padding: 20px 16px;
    cursor: pointer;
    border: none;
}
a{text-decoration: none;
    color:black;


}
.icons{
    display: flex;
    gap: 30%;
    border: none;
    text-align: center;
    margin-left: 100px;
    margin-top: 10%;
    margin-bottom: -4px;

    

}
.icons link{
   text-align: center;
   margin-top: 80%;
}
.line{
    text-align: center;
    margin-top: 15%;

}
.line :before {
  content:"";
  display: block;
  height: 2px;
  width:160px;
  top:683px;
  left:18%;
  background-color: gray;
  position: absolute;
}
.line::after
{
  content:"";
  display: block;
  height: 2px;
  width:150px;
  top:683px;
  left:35%;
  background-color: gray;
  position: absolute;
}
.add{
    text-align: center;
    margin-top: 40%;
    margin-left: -130%;
    padding-bottom: -8;
    
}
